<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start:</b>
  <%= @event.starts %>
</p>

<p>
  <b>End:</b>
  <%= @event.ends %>
</p>

<p>
  <b>Location:</b>
  <%=  Location.find_by_id(@event.location_id).name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<div class="line" >          </div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<div class="line" >          </div>

