<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @location.name %>
</p>


<p>
  <b>Description:</b>
  <%= @location.description %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'List of Locations', locations_path %>
<%= link_to 'Back to New Event', new_event_path %>
